* { 
    box-sizing: border-box;
  }

  .flex {
    background-color: blanchedalmond;
    border: 2px solid gray;
    margin: 0 auto;
    padding: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    
  }

  .flex div {
    background-color: greenyellow;
    color: black;
    border: 1px solid blanchedalmond;
    text-align: center;
    width: calc(100% / 4);
    padding: 20px;
  }

  .grid {
    background-color: blanchedalmond;
    border: 2px solid gray;
    margin: 0 auto;
    width: 600px;
    height: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: stretch;
    
  }

  .grid div {
    background-color: greenyellow;
    color: black;
    border: 1px solid blanchedalmond;
    text-align: center;
    padding: 20px;
  }

  /*baseline
  start
  center
  end
  revert
  space-around
  space-between
  space-evenly
  */